.basket strong{
  margin-right:5px
}

.basket_number{
  font-size:0.8em;
  margin-left:5px
}

input{
  margin-bottom:15px;
  margin-top:5px;
  text-align: center;
}

label{
  margin-right: 5px;
  font-weight: bold;
}

footer i{
  font-size:2em;
}