.image{
    height:200px;
}

.nos_produits{
    color:#229df0; 
    font-weight: bold;
    border:1px solid white;
    margin:auto;
    background-color: white;
    border-radius:5px;
    box-shadow: 1px 1px 1px rgb(235, 225, 225);
}